* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: gray;
}

.square {
  border: 1px solid #999;
  float: left;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 34px;
  height: 55px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 58px;
  background-color: black;
  color: gray;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  font-size: 1.5rem;
  padding: 15px 0;
  background-color: black;
  color: white;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.moves {
  border: 1px solid white;
}

.move-button {
  width: 7rem;
  height: 2rem;
}
